<!DOCTYPE html>
<html>
<head>
    <title>VC Senda Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to VC Senda</h1>
        <p>Select a company to view its stock signals.</p>
    </header>

    <section class="company-selection">
       <form action="{{ url_for('dashboard') }}" method="get">
    <select name="company" required>
        <option value="" disabled selected>Select a Company</option>
        {% for company in companies %}
            <option value="{{ company }}">{{ company }}</option>
        {% endfor %}
    </select>
    <button type="submit">Go</button>
</form>

    </section>
</body>
</html>
